body {
  margin: 0 !important;
  padding: 0 !important;

}

.css-1yb0leh-MuiTypography-root {
  text-align: center;
  font-family: 'Monoton', cursive !important;
  font-weight: bold !important;

}
.MuiBox-root.css-19ankk4{
  margin-top: 0px !important;
}

.css-1t29gy6-MuiToolbar-root1 {
  background-image: linear-gradient(to right, blue, skyblue);
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  font-weight: bold !important;
}

.css-5lbw0b-MuiTypography-root {
  font-weight: bold !important;
}

.css-1vhaqj4-MuiButtonBase-root-MuiButton-root {
  background-image: linear-gradient(45deg, black, transparent);
}

.MuiButtonBase-root.MuiListItem-root.MuiListItem-gutters.MuiListItem-padding.MuiListItem-button.css-bshv44-MuiButtonBase-root-MuiListItem-root {
  border-bottom: 1px solid gray;
  color: rgb(116, 116, 116);
}

.MuiButtonBase-root.MuiListItem-root.MuiListItem-gutters.MuiListItem-padding.MuiListItem-button.css-bshv44-MuiButtonBase-root-MuiListItem-root:hover {
  color: black;
  background-color: rgb(208, 242, 255)
}

.admin {
  margin-left: "120px";
}
.employ{
  margin-left: 277px;
  box-shadow: 0px 0px 10px !important;
}
.heading{
  margin-left: 750px;
  color:rgb(29, 117, 233) !important
}

.responsive {
  justify-content: center;
  display: flex;
  margin-top: 50px !important
}
.background{
  background-image: url("./image/background.png") !important;
  height: 751px !important;
  margin-top: 0px !important;
}
.container{
  display: flex;
}
.picture{
  margin-top: 15px;
}
.admin{
  font-size: 22px;
  color: darkblue;
  font-family: 'Sigmar One', 'cursive';
}
.name{
  font-size: 45px;
  margin-top: 55px;
  margin-left: 30px;
  color:rgb(116, 169, 217);
  font-family: 'Sigmar One', 'cursive';
}
.name1{
  font-size: 20px;
  font-weight:bold;
  margin-left: 35px;
  color:rgb(116, 169, 217);
margin-bottom: 16px;
}
.phone{
  margin-top: 12px;
}
button{
  margin-top: 23px !important;
  font-size: 13px !important;
}
.btn{
  margin-top: 6px !important;
}
.MuiTypography-root.MuiTypography-h5.css-ag7rrr-MuiTypography-root{
  display: flex;
 }
 .css-i4bv87-MuiSvgIcon-root{
   height: 40px !important;
 }
.button{
  float: right !important;
  margin-top: 6rem !important;
}
.edit{
  margin-left: 25px;
  margin-top: 10px;
}
.card:hover{
  box-shadow: 3px 3px 9px  ;
}
.MuiTypography-root.MuiTypography-body1.css-ahj2mt-MuiTypography-root{
  text-align: center;
  margin-top: 26px;
  color: gray;
}


/* media quary Registetion form*/

@media screen and (min-width: 280px) {
  .MuiTypography-root.MuiTypography-h4.css-1yb0leh-MuiTypography-root {
    font-size: 20px !important;
  }
}

@media screen and (max-width: 457px) {
  .card {
    width: 350px !important;
  }
}

@media screen and (max-width: 345px) {
  .card {
    width: 320px !important;
  }
}

@media screen and (max-width: 360px) {
  .card {
    width: 335px !important;
    margin-right: 10px !important;
  }
}

@media screen and (max-width: 375px) {
  .card {
    margin-left: 10px !important;
  }
  .responsive{
   margin-top: 0px !important;
  }

  
}

@media screen and (max-width: 320px) {
  .card {
    width: 300px !important;
    margin-left: 5px !important;
  }

  .MuiBox-root.css-164r41r {
    width: 280px !important;
  }
}

@media screen and (max-width: 280px) {
  .card {
    width: 290px !important;
    /* margin-left: 15px !important; */
  }

  .MuiBox-root.css-164r41r {
    width: 260px !important;
  }
}
@media screen and (min-width: 768px) {
  .responsive{
    margin-left:250px !important;
  }
}




@media screen and (max-width: 377px) {
  .heading{
    margin-left:95px !important;
  }
  .employ{
    margin-left:39px !important;
    margin-top:50px !important;
  }
}


@media screen and (max-width: 415px) {
  .heading{
    margin-left:110px;
  }
  .employ{
    margin-left:42px;
    margin-top:50px;
  }
}
@media screen and (max-width: 392px) {
  .heading{
    margin-left:97px;
  }
  .employ{
    margin-left:38px ;
  }
}
@media screen and (max-width: 394px) {
  .heading{
    margin-left:100px;
  }
}
 
@media screen and (max-width: 362px) {
  .heading{
    margin-left:80px !important;
  }
  .employ{
    margin-left:35px ;
  }
}



